@import '../../../../App.scss';

.participant-card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.image {
		img {
			border-radius: 2rem;
			border: 1px solid lighten($color: $secondary, $amount: 15);
			height: 2.5rem;
			width: 2.5rem;
		}
	}
	.user-name {
		p {
			font-weight: 600;
		}
	}
	.icon {
		background-color: lighten($color: $secondary, $amount: 15);
		height: 2.5rem;
		width: 2.5rem;
		padding: 0.5rem 0.8rem;
		border: 1px solid lighten($color: $secondary, $amount: 5);
		border-radius: 2rem;
		color: $black-shade;

		.fa-user {
			color: $grey-dark;
		}
	}
}
