@import '../../../App.scss';

.container-root {
	display: flex;
	flex-direction: column-reverse;

	.pairs-container,
	.participant-containers {
		padding: 1rem;
		background-color: $grey-light;
		border: 1px solid lighten($color: $grey-dark, $amount: 40%);
		border-radius: 1rem;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
			0 6px 6px rgba(0, 0, 0, 0.23);
		margin-bottom: 1rem;
		hr {
			margin: 0 0 1rem 0;
			// width: calc(100% - 2rem);
		}
	}
}
