@import '../../App.scss';

.event-card {
	height: 24rem;
	margin: 1rem;
	width: 17rem;
	border: 0.5px solid lighten($color: $secondary, $amount: 10);
	border-radius: 1rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	background-color: $white;
	.img-container {
		display: flex;
		justify-content: center;
		padding: 1rem 0;
		border-bottom: 1px solid $secondary;
		img {
			width: 7.5rem;
		}
	}
	.event-title {
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid $secondary;
		p {
			font-weight: 500;
		}
	}
	.info-container {
		display: flex;
		flex-direction: row;
		.info-left {
			width: 50%;
			padding: 1rem 1rem 1.5rem 1.5rem;
			h6 {
				font-weight: 600;
			}
		}
		.info-right {
			width: 50%;
			padding: 1rem 1.5rem 1.5rem 1rem;
			.info-buttons {
				margin-top: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			h6 {
				font-weight: 600;
			}
		}
	}
}
