@import '../../../App.scss';

.signup-form {
	.form-group,
	.btn {
		margin: 1rem 0 !important;
		.form-control:last-child {
			margin: 2rem 0 1rem !important;
		}
	}
	.form-group {
		input {
			padding: 1.4rem 1rem;
		}
	}
}
