/* Global Styles */
#root {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
	height: 100vh;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	color: #666;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

.span-main {
	font-size: 32px;
	font-weight: extra-bold;
}

* {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	.lead {
		color: $grey-dark;
	}
}

/* Animation (Add After) - CSS t`ransition group */
.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
