// colors
$danger: #de6c6c !default;
$warning: #e6b74d !default;
$primary: #57a0c7 !default;
$secondary: #707070 !default;
$success: #7ec494 !default;

$grey-light: #efefef !default;
$black-shade: #353535 !default;
$black: #231f20 !default;
