@import '../../App.scss';

.navbar {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	background-color: $white !important;
	-moz-box-shadow: 3px 3px 5px 5px #ccc;
	-webkit-box-shadow: 3px 3px 5px 5px #ccc;
	box-shadow: 3px 3px 5px 5px #ccc;
	margin-bottom: 1rem;
}

.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	font-size: 1.5rem !important;
	color: $grey-dark !important;
}

.navbar-nav {
	margin-right: 5%;
}

.nav-link {
	margin-right: 0.5rem;
}

.nav-logo {
	width: 3rem;
	height: 3rem;
	margin: 0rem;
	padding: 0;
}

.profile-pic {
	width: 3rem
}
